@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}
html.dark ::-webkit-scrollbar-track {
  background: #171515;
}

::-webkit-scrollbar-thumb {
  background: #03a696;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #028675;
}
textarea {
  resize: none;
}
